a {
   text-decoration: none;
   outline: none;
   color: inherit;
   color: rgb(var(--v-theme-text));
   transition: color 0.5s ease;
}

a:hover {
   color: rgb(var(--v-theme-text_highlight));
}


button {
   background-color: rgb(var(--v-theme-text));
   transition: background-color 0.5s ease, color 0.5s ease

}

button:hover {
   background-color: rgb(var(--v-theme-text_highlight));

}

.v-application {
   transition: 0.5s ease;
}

header {
   transition: 0.5s ease;
}